{% extends "index.html" %}
{% block menu %}
<h1> Ure in the Apllicant Home</h1>
{% endblock %}
{% block body %}

    {% if user.is_authenticated %}
    <div style="height: 100%">
    <h2 style="color: blue"> Welcome, </h2> <spam style="font-weight: bold; text-transform: capitalize"><h1>{{ data.name }}
</h1></spam>    </div>
        {% else %}
        <h2 style="color: blue"> Welcome, </h2>  </div>
    {% endif %}
    <br>
    <br>

     {% for x in messages %}
    {{ x }}
    {% endfor %}

     <h3 style="width: 25%; background-color: blue;color: white">Current Notifications</h3>

    {% for x in notif %}
        <div style="padding:10px;border: blue solid 5px; margin: 5px;border-radius: 10px">
            <h3> <a href="#">Opurtinity Code {{ x.op_code }} -- {{ x.responsibilites }}</a></h3>
        <ul>
            <li> Qualification :{{ x.qualification }}</li>
            <li>Job Description: {{ x.description }}</li>
            <li> Number of Oppenings :{{ x.positions }}</li>
            <li> Last Date of Apply: {{ x.lastdate_apply }}</li>
        </ul>
        </div>

    {% endfor %}




{% endblock %}
{% block sidebar %}

    <div style="border: 5px solid black; padding: 5px ; border-radius: 10px;margin-top: 20px">
        <div class="list-group" style="text-align: center">
            <a href="{% url 'users:home' %}" class="list-group-item list-group-item-action active">
                Home
            </a>

            <a href="#" class="list-group-item list-group-item-action">Current recuirment</a>
            <a href="#" class="list-group-item list-group-item-action">Apply</a>
            <a href="#" class="list-group-item list-group-item-action">Logout</a>
</div>

    </div>


{% endblock %}
