{% extends "index.html" %}
 {% block menu %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="font-family: Century" href="{% url 'manager:home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand"  style="font-family: Century" href="{% url 'manager:profile' %}">View Profile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" style="font-family: Century" href="#">Change Password</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <a class="navbar-brand" style="font-family: Century" href="{% url 'manager:logout' %}">Logout</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        </nav>



    {% endblock %}
{% block sidebar %}
      <div style="border: 5px solid black; padding: 5px ; border-radius: 10px;margin-top: 20px">
        <div class="list-group" style="text-align: center">
             <a href="#" class="list-group-item list-group-item-action active">
                Sub Menu
            </a>
            <a href="{% url 'manager:department' %}" class="list-group-item list-group-item-action ">
                Departments
            </a>
            <a href="{%  url 'manager:homerec' %}" class="list-group-item list-group-item-action ">
                Recuirtment
            </a>
            <a href="#" class="list-group-item list-group-item-action">Interview-Schedule</a>


</div>

    </div>
{% endblock %}
