{% extends "manager/home.html" %}recuitment
{% block title %}
    <title>Recuitment</title>
{% endblock %}
{% block sidebar %}
    <div style="border: 5px solid black; padding: 5px ; border-radius: 10px;margin-top: 20px">
        <div class="list-group" style="text-align: center">
             <a href="#" class="list-group-item list-group-item-action active">
                Recuitment
            </a>
            <a href="{% url 'manager:addrec' %}" class="list-group-item list-group-item-action ">
                New Recuirtment Details
            </a>
            <a href="{% url 'manager:manarec' %}" class="list-group-item list-group-item-action">Modifying Requirment Details</a>
            <a href="{% url 'manager:deleterec' %}" class="list-group-item list-group-item-action">Deleting Recuirment Details</a>

</div>

    </div>



{% endblock %}

{% block body %}
    <div style="height: 400px; padding: 25px; ">
    <h2>The Details of Requircments</h2>
    <h3 style="background-color: lightslategrey">Active Requirments : {{ data }}</h3>
    </div>
{% endblock %}