{%  extends 'manager/schedule.html' %}


{% block body %}
    <h3 style="width: 80%; background-color: blue;color: white">Regestration Completed Recuirtment</h3>

    {% for x in data %}

        <div style="padding:10px;border: blue solid 5px; margin: 5px;border-radius: 10px">
            <h3> <a href="{% url 'manager:rec_sched' id=x.op_code %}">Opurtinity Code {{ x.op_code }} -- {{ x.responsibilites }}</a></h3>
        <ul>
            <li> Qualification :{{ x.qualification }}</li>
            <li>Job Description: {{ x.description }}</li>
            <li> Number of Oppenings :{{ x.no_positions }}</li>
            <li> Last Date of Apply: {{ x.lastdate_apply }}</li>
        </ul>
        </div>

    {% endfor %}

{% endblock body %}