{% extends "manager/recuirtment.html" %}
{% block title %}
    <title>Modify Recuirment Details </title>
    <style>
    #r1{

        margin: 2px;
        padding: 2px;
        border-radius: 2px;
        font-size: 18px;
        font-style: italic;
        font-weight: bold;
        color: blue;
    }
    .col-1{
        padding-right: 0px;
        text-align: right;
        font-weight: bold;
        font-size: 18px;
        color: blue;
    }
    .col-5{
        align-content: start;
    }
    </style>
{% endblock %}

{% block body %}


<h1 style="font-size: 35px; border: blue 5px solid;padding: 10px; font-weight: bold;text-align: center">Update Recuirtment Details</h1>

    <br>



    <div class="container-fluid"   style="margin: 5px;padding: 10px; padding-left: 60px">
    <form   method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col-8" style="background-color: blue ;width: 50px; color: white; text-align: center; font-size: 30px; margin-bottom: 15px"> RECUIRMENT DETAIL UPDATE</div>
    </div>
    <div class="row">
        <div class=" col-3" id="r1">Oppertunity Code</div>
        <div class="col-1">:</div>
        <div class="col-5" >{{ data.op_code }}</div>
        <div class="col-3" >{{ data.op_code.errors }}</div>
    </div>
    <div class="row">
        <div class=" col-3" id="r1">Qualification</div>
          <div class="col-1">:</div>
        <div class="col-5" >{{ data.qualification }}</div>
        <div class="col-3" >{{ data.qualification.errors }}</div>
    </div>
    <div class="row">
        <div class=" col-3" id="r1">Regestration Start From</div>
          <div class="col-1">:</div>
        <div class="col-5" >{{ data.regestration_start }}</div>
        <div class="col-3">{{ data.regestration_start.errors }}</div>
    </div>
    <div class="row">
        <div class=" col-3" id="r1">Experience</div>
          <div class="col-1">:</div>
        <div class="col-5" >{{ data.experience }}</div>
        <div class="col-3">{{ data.experience.errors }}</div>
    </div>
    <div class="row">
        <div class=" col-3" id="r1">Last Date to Apply</div>  <div class="col-1">:</div>
        <div class="col-5" >{{ data.lastdate_apply }}</div>
        <div class="col-3">{{ data.lastdate_apply.errors }}</div>
    </div>
    <div class="row">
        <div class=" col-3" id="r1">Department ID</div>
          <div class="col-1">:</div>
        <div class="col-5" >{{ data.department }}</div>
        <div class="col-3">{{ data.department.errors }}</div>
    </div>
    <div class="row">
        <div class=" col-3" id="r1">No of Opennings</div>
          <div class="col-1">:</div>
        <div class="col-5" >{{ data.no_positions}}</div>
        <div class="col-3">{{ data.no_positions.errors }}</div>
    </div>
    <div class="row">
        <div class=" col-3" id="r1">Description</div>
          <div class="col-1">:</div>
        <div class="col-5" >{{ data.description }}</div>
        <div class="col-3">{{ data.description.errors }}</div>
    </div>
         <div class="row">
        <div class=" col-3" id="r1">Responsibilites</div>
               <div class="col-1">:</div>
        <div class="col-5" >{{ data.responsibilites }}</div>
        <div class="col-3">{{ data.responsibilites.errors }}</div>
    </div>

    <div class="row">
            <div class="col-2"></div>
            <div class="col-4"><button type="submit" name="bname" value="rupdate" style="margin-top: 30px; text-align: center; background-color: gainsboro; color: blue; font-size: 28px">Update Details</button> </div>
            <div class="col-6"></div>
        </div>
        </form>
    </div>

{% endblock body %}