{% extends "hradmin/home.html" %}
{% block body %}
<div class="container-fluid" style="font-family: Century">
<div class="row" style="border: 2px solid blue;text-align: center;font-size: 25px;background-color: blue;color: white">
    <div class="col-2"style="border: 1px solid black">ID</div>
    <div class="col-3"style="border: 1px solid black">Name</div>
    <div class="col-3"style="border: 1px solid black">Desgination</div>
    <div class="col-4"style="border: 1px solid black">Email Id</div>

</div>
<form  method="post">
    {% csrf_token %}
{% for x in data %}
    <div class="row" >
    <div class="col-1" style="border: 1px solid black;font-size: 20px"><input type="checkbox" name="t1" value="{{ x.user_id }}" ></div>
    <div class="col-1" style="border: 1px solid black;font-size: 20px">{{ x.user_id}} </div>
    <div class="col-3" style="border: 1px solid black;font-size: 20px">{{ x.name }}</div>
    <div class="col-3" style="border: 1px solid black;font-size: 20px">{{ x.Designation }}</div>
    <div class="col-4" style="border: 1px solid black;font-size: 20px">{{ x.user.email }}</div>


</div>
{% endfor %}
<br>
<br>

<div class="row">
    <div class="col-12" style="text-align: center"><button type="submit"><strong>Delete</strong></button> </div>
</div>
</form>
</div>
    <br>
<p> *To Delete Multiple Employies Select Multiple Check Boxes</p>
{% endblock %}