
{% extends "index.html" %}
{% block title %}

{% endblock title %}
{% block menu %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="font-family: Century" href="{% url 'hradmin:home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand"  style="font-family: Century" href="#">View Profile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" style="font-family: Century" href="#">Change Password</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
     <a class=" navbar-brand navbar-right" style="font-family: Century" href="{% url 'logout' %}">Logout</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



        </nav>



    {% endblock menu %}

    {% block sidebar %}
      <div style="border: 5px solid black; padding: 5px ; border-radius: 10px;margin-top: 20px">
        <div class="list-group" style="text-align: center">
             <a href="#" class="list-group-item list-group-item-action active">
                Menu
            </a>
            <a href="{% url 'hradmin:addemp' %}" class="list-group-item list-group-item-action ">
                Add Employee
            </a>
            <a href="{%  url 'hradmin:allemp' %}" class="list-group-item list-group-item-action ">
                View Employee
            </a>
            <a href="{% url 'hradmin:update' %}" class="list-group-item list-group-item-action">Update Employee</a>
            <a href="{% url 'hradmin:emp_delete' %}" class="list-group-item list-group-item-action">Delete Employee</a>



</div>

    </div>
{% endblock sidebar %}



{% block body %}
<h1>Welcome to the ADMIN</h1>

    <p>To Add or View Department click the button<form action="#"> <button type="submit">ADD/VIEW Department</button> </form></p>
    {% if dep_form %}
        <div class="container-fluid" style="padding: 3px;margin: 3px">
        <div class="row">
            <div class="col-5" style="margin-right: 5px;text-align: center; border: gray 5px solid; padding: 10px; border-radius: 10px">
                <form action="#" method="post">
        {% csrf_token %}
          <div >Department ID</div>
                <div >{{ dep_form.DepIdNo }}</div>
                    <div >Department Name</div>
                <div>{{ dep_form.Name}}</div>



                <div ><button type="submit">Save</button></div>



        </form>
            </div>
            <div class="col-1"></div>
            <div class="col-5" style="margin-right: 5px; border: gray 5px solid; padding: 2px; border-radius: 10px">
            <table align="center">
                <tr>
                  <th colspan="2" style=" background-color: blue;color: white;font-size: 30px; text-align: center">Department Details</th>

                </tr>
                <tr>
                    <th width="200" style="text-align: center;color: blue;font-size: 20px">Department ID</th>
                    <th width="250" style="text-align: center;color: blue;font-size: 20px">Department Name</th>
                </tr>
                    {% for x in dep_mod %}
                        <tr>
                         <th style="text-align: center">{{x.DepIdNo}}</th>
                            <th style="text-align: center">{{x.Name}}</th>
                        </tr>
                {% endfor %}
            </table>

            </div>
        </div>
        </div>

    {% endif %}
{% endblock %}